<html>

<head>
    <title> i am sam </title>
    <style>
        .shyamala {
            background-color: blue;
            font-size: 24;
        }

        .jam {
            background-color: yellow;
            font-size: 24;
        }
    </style>
</head>

<body>
    <h1> i am moon</h1>
    <h2> i am moon</h2>
    <h5> i am moon</h5>
    <u> i am moon</u>
    <br>
    <b> i am moon</b>
    <br>
    <i> i am moon</i>
    <br>
    <s> i am moon</s>
    <marquee> i am moon</marquee>
    <marquee direction="right"> i am moon</marquee>
    <p class="shyamala">this is line one</p>
    <p class="shyamala">this is line two</p>
    <p class="jam"> jam is red</p>
    <img width="300" src="https://images.unsplash.com/photo-1575936123452-b67c3203c357" alt="book" />
    <form>
        name
        <input type="text" />
        <br>
        <br>
        age
        <input type="text" />
        <br>
        <br>
        <input type="checkbox">
        <br>
        <br> 
        <button onclick="alert('hii')">chandru</button>
    </form>
    <h1>Welcome to My Page</h1>
    <p>This is a simple HTML page with a <a href="https://www.example.com" target="_blank">link</a>.</p>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
    </ul>
    <ol>
        <li>First</li>
        <li>Second</li>
    </ol>
    <img width="500" height="400" src="static\img\222222222.jpg" alt="An example image">
    <h1>hello all</h1>
    <p>My first paragraph.</p>
    <a href="https://www.w3schools.com">This is a link</a>
    <br>
    <br>
    <img src="static\img\bb.jpg" alt="Girl with a jacket">
    <p style="color:red;">This is a red paragraph.</p>
    <h1 style="color:powderblue; font-size:60px;">Heading 1</h1>
    <p>This is<br>a paragraph<br>with line breaks.</p>
    <h1>This is heading 1</h1>
<p>This is some text.</p>
<hr>
<h2>This is heading 2</h2>
<p>This is some other text.</p>
<hr>
<pre>
    My Bonnie lies over the ocean.
  
    My Bonnie lies over the sea.
  
    My Bonnie lies over the ocean.
  
    Oh, bring back my Bonnie to me.
  </pre>
  <p style="font-size:160%;">This is a paragraph.</p>
  <em>This text is <mark>emphasized</mark></em>
  <p>Do not forget to buy <mark>milk</mark> today.</p>
  <p>My favorite color is <del>blue</del> red.</p>
  <p>My favorite color is <del>blue</del> <ins>red</ins>.</p>
  <h1>This is <sup>superscripted</sup> text.</h1>
  <p>Here is a quote from WWF's website:</p>
<blockquote cite="http://www.worldwildlife.org/who/index.html">
For 60 years, WWF has worked to help people and nature thrive. As the world's leading conservation organization, WWF works in nearly 100 countries. At every level, we collaborate with people around the world to develop and deliver innovative solutions that protect communities, wildlife, and the places in which they live.
</blockquote>
<p>WWF's goal is to: <q>Build a future where people live in harmony with nature.</q></p>
<p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>
<p>the <abbr title="shyamala">sam</abbr> is my name</p>
<p>this is <abbr title="chandru">moon</abbr></p>
<address>
    Written by John Doe.<br>
    Visit us at:<br>
    Example.com<br>
    Box 564, Disneyland<br>
    USA
</address>
<bdo dir="rtl">This text will be written from right to left</bdo>
<p>This is a paragraph.</p>

<!-- <p>This is another paragraph </p> -->

<p>This is a paragraph too.</p>
<h1 style="border:4px solid Tomato;">Hello World</h1>
<h1 style="background-color:rgb(255, 99, 71);">sam</h1>
<h1 style="background-color:#ff6347;">sam</h1>
<h1 style="background-color:hsl(9, 100%, 64%);">...</h1>

<h1 style="background-color:rgba(255, 99, 71, 100);">sam</h1>
<h1 style="background-color:hsla(9, 100%, 64%, 0.5);">...</h1>
<a href="https://www.w3schools.com/" target="_blank">Visit W3Schools!</a>
<br>
<a href="mailto:someone@example.com">Send email</a>
<a href="https://www.w3schools.com/html/" title="Go to W3Schools HTML section">Visit our HTML Tutorial</a>
<style>
    a:link, a:visited {
      background-color: #f44336;
      color: white;
      padding: 15px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    a:hover, a:active {
      background-color: red;
    }
    </style>

<h2 id="C4">Chapter 4</h2>
<a href="html_demo.html#C4" target="_blank">Jump to Chapter 4</a>

<h1>creating image map</h1>
<p>click on image</p>
<img src="static\img\bb.jpg" alt="eeeeee" usemap="#imageclick">
<map name="imageclick">
    <area shape="rect" coords="34,44,270,350" alt="Computer" href="computer.htm">
    <br>
    <img src="static\img\gallery\b.jpg" usemap="#image_map">
<map name="image_map">
  <area alt="dance" title="dance" target="_blank" href="" coords="42,43,177,192" shape="rect">


</body>

</html>